.popup__button-save {
  margin: 31px 0 0;
  padding: 0;
  width: 358px;
  height: 50px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

.popup__button-save_disabled {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .popup__button-save {
    margin: 45px 0 0;
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 1.21;
  }
}
