.profile__description {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 336px;
}

@media screen and (max-width: 1023px) {
  .profile__description {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}