.popup__button-close {
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
  background-image: url(../../../images/Close-Icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.popup__button-close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}