/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@import url(./vendor/normalize.css);
@import url(./fonts/inter.css);
@import url(./blocks/body/body.css);
@import url(./blocks/page/page.css);
/* Header */
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
/* Main */
@import url(./blocks/main/main.css);
/* Profile */
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__avatar-button/profile__avatar-button.css);
/* Photo */
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__delete/element__delete.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__wrapper/element__wrapper.css);
@import url(./blocks/element/__description/element__description.css);
@import url(./blocks/element/__button-like/element__button-like.css);
@import url(./blocks/element/__button-like/_active/element__button-like_active.css);
@import url(./blocks/element/__likes/element__likes.css);
@import url(./blocks/element/number-likes/element__number-likes.css);
/* Footer */
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
/* Popup */
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__button-close/popup__button-close.css);
@import url(./blocks/popup/__container-title/popup__container-title.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__form-error/popup__form-error.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_name.css);
@import url(./blocks/popup/__input/_type/popup__input_type_about.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__span/popup__span.css);
@import url(./blocks/popup/__button-save/popup__button-save.css);
@import url(./blocks/popup/__full-image/popup__full-image.css);
@import url(./blocks/popup/__image-title/popup__image-title.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/_type/popup_type_full-image.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/button-hover/button-hover.css);
@import url(./blocks/popup/_type/popup_type_delete-card.css);
@import url(./blocks/popup/_type/popup_type_update-avatar.css);
/* Authorization Page */
@import url(./blocks/authorization/authorization.css);
@import url(./blocks/authorization/__button/authorization__button.css);
@import url(./blocks/authorization/__container/authorization__container.css);
@import url(./blocks/authorization/__form/authorization__form.css);
@import url(./blocks/authorization/__input/authorization__input.css);
@import url(./blocks/authorization/__link/authorization__link.css);
@import url(./blocks/authorization/__subtitle/authorization__subtitle.css);
@import url(./blocks/authorization/__title/authorization__title.css);
/* Tooltip */
@import url(./blocks/popup/__tooltip-image/popup__tooltip-image.css);
@import url(./blocks/popup/__tooltip-text/popup__tooltip-text.css);